.header__lang-link {
   font-size: 24px;
   line-height: 28px;
   font-weight: normal;
}

.header__lang-link:nth-of-type(2) {
   margin-left: 18px;
}

@media screen and (max-width: 320px) {
   .header__lang-link {
      font-size: 18px;
      line-height: 20px;
   }
}