.places {
   margin-bottom: 92px;
   /* margin: 0 auto 90px; */
}

@media screen and (max-width:1279px) {
   .places {
      margin: 0 48px 92px;
   }
}

@media screen and (max-width: 1023px) {
   .places {
      margin: 0 24px 90px;
   }
}

@media screen and (max-width: 767px) {
   .places {
      margin: 0 16px 66px;
   }
}