.page {
   font-family: 'Inter', Arial, sans-serif;
   background-color: #2A2C2F;
   margin: 0;
   padding: 0;
   min-width: none;

}

.header {
   margin: 0;
   min-height: 52px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 28px 48px
}


.header__logo {
   background-image: url(/images/header-logo.svg);
   height: 52px;
   width: 176px;
}

.header__lang-block {}

.header__lang-link {
   font-size: 24px;
   margin-left: 20px;
}

.link {
   color: #FFFFFF;
   text-decoration: none;
}

.lead {}

.lead__title {
   margin: 0;
   color: #FFFFFF;
   font-size: 96px;
   font-weight: 900;
   line-height: 100px;
   text-align: center;
   margin: 0 auto 20px;
}


.lead__subtitle {
   margin: 0;
   color: #FFFFFF;
   font-size: 30px;
   font-weight: normal;
   line-height: 36px;
   text-align: center;
   margin: 0 auto 50px;
}

.lead__img {
   display: block;
   max-width: calc(100% - 148px*2);
   margin: 8px 148px;
   position: relative;
}

@media screen and (max-width: 1024px) {
   .lead__img {
      max-width: calc(100% - 48px*2);
      margin: 8px 48px;

   }
}

@media screen and (max-width: 768px) {
   .lead__img {
      max-width: 100%;
      margin: 8px 0;
   }
}

.lead__caption {
   margin: 0;
   color: #FFFFFF;
   font-size: 10px;
   font-weight: normal;
   line-height: 14px;
   text-transform: uppercase;
   margin: 0 148px;
}

.intro {
   padding: 0 148px 92px;
}

.intro__title {
   margin: 0;
   color: #FFFFFF;
   font-size: 54px;
   line-height: 58px;
   font-weight: bold;
}

.intro__text {
   margin: 0;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 26px;
   font-weight: normal;
}

.intro__list {
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 12px;
   line-height: 18px;
   font-weight: normal;
   list-style-type: none;

}

.photo-grid {
   padding: 0 48px 92px;
   overflow: auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 14px;
   /* grid-auto-rows: minmax(100px, auto); */
}

@media screen and (max-width: 1024px) {
   .photo-grid {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 768px) {
   .photo-grid {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 320px) {
   .photo-grid {
      grid-template-columns: repeat(1, 1fr);
   }
}

.photo-grid__item {
   width: 100%;
}


.places {
   padding: 0 148px 92px;
}

.place {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto 1fr;
   grid-template-areas:
      "title website"
      "image paragraph";
   row-gap: 48px;
   column-gap: 40px;
   margin: 0 auto 80px;
   max-width: 1000px;
}

.place__presentation-column {}

.place__description-column {}

.place__title {
   margin: 0;
   color: #FFFFFF;
   font-size: 72px;
   line-height: 76px;
   font-weight: bold;
   grid-area: title;
}

.place__image {
   max-height: 460px;
   grid-area: image;
}

.place__website {
   grid-area: website;
   align-self: end;
}

.place__url-heading {
   margin: 0;
   color: #FFFFFF;
   font-size: 12px;
   line-height: 12px;
   font-weight: normal;
   opacity: 0.5;
   margin: 0 0 12px;
}

.place__link {
   margin: 0;
   color: #FFFFFF;
   font-size: 18px;
   line-height: 22px;
   font-weight: normal;
   text-decoration: underline;
}

.place__paragraph-block {
   grid-area: paragraph;
}

.place__paragraph {
   margin: 0;
   color: #FFFFFF;
   font-size: 12px;
   line-height: 18px;
   font-weight: normal;
   margin-bottom: 26px;
}

.cover {
   background-image: url(/images/cover-trains.jpg);
   background-size: cover;
   width: 1200px;
   height: 740px;
   margin: 0 auto 92px;
   display: flex;
}


.cover__overlay {
   justify-content: end;
   align-items: end;
}

.cover__title {
   margin: 0;
   color: #FFFFFF;
   font-size: 72px;
   line-height: 76px;
   font-weight: bold;
}

.cover__subtitle {
   margin: 0;
   color: #FFFFFF;
   font-size: 18px;
   line-height: 22px;
   font-weight: normal;
}

.footer {
   display: flex;
   justify-content: space-between;
}

.footer__links {
   display: flex;
   flex-direction: row;
}

.footer__link {}

.footer__copyright {
   margin: 0;
   color: #FFFFFF;
   font-size: 14px;
   line-height: 16px;
   font-weight: normal;
}