.place__paragraph-block {
   min-width: 484px;
}

@media screen and (max-width:1279px) {
   .place__paragraph-block {
      min-width: 456px;
   }
}

@media screen and (max-width:1023px) {
   .place__paragraph-block {
      min-width: 352px;
   }
}

@media screen and (max-width: 767px) {
   .place__paragraph-block {
      min-width: 100%;
   }
}