.place__paragraph-block {
   min-width: 484px;
}

@media screen and (max-width:1279px) {
   .place__paragraph-block {
      min-width: 456px;
   }
}

@media screen and (max-width:1023px) {
   .place__paragraph-block {
      min-width: 352px;
   }
}

@media screen and (max-width: 767px) {
   .place__paragraph-block {
      box-sizing: border-box;
      min-width: calc(100% - 16px * 2);
      margin: 0 16px;
   }
}