.place {
   margin: 0 auto 80px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto 1fr;
   grid-template-areas:
      "title website"
      "image paragraph";
   grid-gap: 48px 40px;
}