.header__logo {
   background-image: url(../../../images/header-logo.svg);
   height: 52px;
   width: 176px;
   background-size: cover;
}


@media screen and (max-width: 320px) {
   .header__logo {
      height: 42px;
      width: 142px;
   }
}