.lead__title {
   margin: 0 auto 32px;
   color: #FFFFFF;
   font-size: 96px;
   line-height: 100px;
   font-weight: 900;
   text-align: center;
   max-width: 720px;
}


@media screen and (max-width: 767px) {
   .lead__title {
      margin: 0 auto 16px;
      font-size: 40px;
      line-height: 44px;
   }
}