.place__paragraph {
   margin: 0 0 26px;
   color: #FFFFFF;
   font-size: 18px;
   line-height: 29px;
   font-weight: normal;
}


.place__paragraph:last-of-type {
   margin: 0;
}

@media screen and (max-width:1023px) {
   .place__paragraph {
      font-size: 16px;
      line-height: 26px;
   }
}