.footer {
   max-width: 1280px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

@media screen and (max-width:1279px) {
   .footer {
      padding-bottom: 24px;
      margin: 0 48px;
   }
}

@media screen and (max-width: 767px) {
   .footer {
      flex-direction: column;
      padding-bottom: 24px;
      margin-left: 16px;
      max-width: 200px;
   }
}